= simple_form_for @project do |f|
  %div.projects-container{style:"background-color: rgba(253, 253, 253, 0.4);"}
    %div.field
      = f.label :name
      = f.input :name, label: false

    %div.field
      = f.label :description
      = f.input :description, label: false

    %div.field
      %strong Assign Users:
      %ul.user-list
        - User.all.each do |user|
          %li
            = f.check_box :user_ids, { multiple: true, checked: @project.user_ids.include?(user.id) }, user.id, nil
            = user.email

    %div.actions
      = f.submit "Update Project"