!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "My Basecamp 1"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}/
    %link{href: "https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400&display=swap", rel: "stylesheet"}/
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - if user_signed_in?
      %header
        =link_to (image_tag "https://i.ibb.co/jHkFS5S/logo.png", style: "width: 300px; height: auto; border-radius: 15px;margin-top: 10px"), root_path
        %nav.navbar
          %ul
            %li= link_to "Home", root_path
            %li= link_to "Projects", projects_path
            %li= link_to "Users", users_path
            %li= link_to "Log Out", destroy_user_session_path, method: :delete
    = yield
